<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/robots/kurt2_indoor.urdf.xacro'" />

  <node pkg="robot_state_publisher" type="state_publisher" name="state_publisher" />

  <include file="$(find kurt_base)/launch/kurt_indoor.launch" />

  <include file="$(find kurt_bringup)/launch/sick_lms200.launch" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find uos_maps)/maps/avz5floor_closed.yaml" output="screen" />

  <include file="$(find amcl)/examples/amcl_diff.launch" />

  <include file="$(find kurt_2dnav)/move_base.launch" />

</launch>
